@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #e5e5e5;
}

.header-navigation-item {
  list-style: none;
  color: #000000;
  background-color: #ffffff;
}

.header-logo {
}

.nav__link {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.user-menu {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome-image {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-logo {
  /* position: absolute; */
  display: block;
  width: 458px;
  height: 352px;
  top: 51px;
  left: 371px;
  margin: 0 auto;
}

/* welcome-divider {
  display: block;
  background-image: url("../images/divider.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  width: 100%;
  height: 57px;
  height: auto;
} */

.main {
  font-family: "PT Sans";
  background-color: #ffffff;
  background-image: url("../images/background-main.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  list-style: none;
  background-image: url(../images/bckgrnd-advantages.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-card-item-area {
  background-color: aliceblue;
}

.advantages-card-item-road {
  background-color: azure;
}

.advantages-card-item-tourist {
  background-color: aliceblue;
}

.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-description-short {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-card-list {
  list-style: none;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-card-item-house {
  list-style: none;
  background-color: aliceblue;
}

.advantages-card-item-food {
  background-color: #ffffff;
}

.advantages-card-item-presents {
  background-color: aliceblue;
}

.advantages-card-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-card-description-short {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-card-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.house-icon {
  background-image: url(../images/house-icon.svg);
}

.food-icon {
  background-image: url(../images/food-icon.svg);
}

.presents-icon {
  background-image: url(../images/presents-icon.svg);
}

.interesting {
  background-image: url("../images/interesting.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.interesting-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.interesting-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.interesting-link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(../images/button-interestin.png);
  color: #ffffff;
  background-color: #756157;
}

.newsletter {
  font-family: "PT Sans";
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  background-image: url("../images/background-subscribe-main.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button-newsletter-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;
}

.footer {
  background-image: url("../images/background-footer.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.footer-contacts {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-item {
  list-style: none;
}

.social-icon-vk {
  background-image: url("../images/social-vk.svg");
  background-repeat: no-repeat;
}

.social-icon-tg {
  background-image: url("../images/social-telegram.svg");
  background-repeat: no-repeat;
}

.social-icon-yt {
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
}

.main-inner {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-catalog.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.catalog-filter-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.catalog-filter-item {
  list-style: none;
}

.control {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
}

.button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.catalog-search {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-card-place {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-card-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-card-button-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}

.catalog-card-rating {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.view {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.newsletter-catalog {
  font-family: "PT Sans";
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-catalog-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-catalog-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
