@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #e5e5e5;
}

header {
  color: #000000;
  background-color: #ffffff;
}

.header-navigation-item {
  list-style: none;
}

.nav__link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-logo {
  position: absolute;
  width: 139px;
  height: 70px;
  left: 70px;
}

.newsletter {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
}

.newsletter-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button .newsletter-button {
  background-image: url("../images/button-subscribe.png");
}

footer {
  background-image: url("../images/background-footer.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
}

.footer-contacts {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-item {
  list-style: none;
}

.social-icon-vk {
  background-image: url("../images/social-vk.svg");
  background-repeat: no-repeat;
}

.social-icon-tg {
  background-image: url("../images/social-telegram.svg");
  background-repeat: no-repeat;
}

.social-icon-yt {
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
}
